<div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card border-dark">
        <div class="card-header text-center border-dark">
          Registro
        </div>
        <div class="card-body">
          <form  [formGroup]="formRegister" (ngSubmit)="save()" autocomplete="off" class="row">
            <div class="col-md-6 col-sm-12 col-lg-6 mt-2">
                <div class="form-floating">
                    <input formControlName="Nombres" type="text" class="form-control" name="nombre" id="nombre" required>
                    <label for="nombre" class="form-label">Nombres:</label>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-6 mt-2">
                <div class="form-floating">
                    <input formControlName="Apellidos" type="text" class="form-control" name="apellido" id="apellido" required>
                    <label for="apellido" class="form-label">Apellidos:</label>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12 mt-2">
                <div class="form-floating">
                    <input formControlName="Email" type="text" class="form-control" name="mail" id="mail" required>
                    <label for="mail" class="form-label">Email:</label>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-6 mt-2">
                <div class="form-floating">
                    <input formControlName="Usuario" type="text" class="form-control" name="Usuario" id="Usuario" required>
                    <label for="Usuario" class="form-label">Usuario:</label>
                </div>  
            </div>
            <div class="col-md-6 col-sm-12 col-lg-6 mt-2">
                <div class="form-floating">
                    <input formControlName="Pass" type="password" class="form-control" name="Pass" id="Pass" required>
                    <label for="Pass" class="form-label">Contraseña</label>
                </div> 
            </div>
            <div class="col-md-5 col-sm-12 col-lg-4 mt-2">
                <div class="form-floating">
                    <select formControlName="TipoIdentificacion" class="form-control" id="tipo_identificacion" name="tipo_identificacion" required>
                        <option disabled value="">Seleccionar...</option>
                        <option value="CC">CC</option>
                        <option value="NUIP">NUIP</option>
                        <option value="NIT">NIT</option>
                        <option value="pasaporte">Pasaporte</option>
                        <option value="cedula">Cédula de Identidad</option>
                    </select>
                    <label for="tipo_identificacion">Tipo de Identificación</label>
                </div>
            </div>
            <div class="col-md-7 col-sm-12 col-lg-8 mt-2">
                <div class="form-floating">
                    <input formControlName="NumeroIdentificacion" type="text" class="form-control" name="NumeroIdentificacion" id="NumeroIdentificacion" required>
                    <label for="NumeroIdentificacion" class="form-label">Numero de identificacion</label>
                </div> 
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12 mt-3">
                <button type="submit" class="w-100 btn btn-outline-dark">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>